<!DOCTYPE html>
html(lang="pt-br")
  head
    include ./partials/head.pug
    title Teste Front End Docket
  body(class="home")
    include ./partials/header.pug

    section(class="home__wrapper")
      div(class="home__wrapper__form")

      div(class="home__wrapper__candidate-token")

    include ./partials/footer.pug
