.footer__wrapper {
  width: 100%;
  padding: rem(22px) 0;
  background: 116deg, $color-light-purple 0%, $color-dark-purple) 0% 0% no-repeat padding-box;
  padding-top: rem(30px);

  &__highlight {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
  }
}
